<section id="contacto" class="contact">
  <h2>Contacto</h2>
  <p>
    ¿Tienes un proyecto interesante o quieres colaborar? ¡Estoy disponible!
  </p>
  <form (ngSubmit)="onSubmit()">
    <input type="text" name="nombre" placeholder="Tu nombre" required />
    <input
      type="email"
      name="email"
      placeholder="Tu correo electrónico"
      required
    />
    <textarea
      name="mensaje"
      placeholder="Escribe tu mensaje aquí..."
      required
    ></textarea>
    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
  </form>
</section>
